@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  width: 50%;
  height: 500px;
  margin: auto;  
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.time-display {
  padding: 15px;
  height: 22%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-around;     
}

.time-selector {
  padding: 15px;
  height: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;    
}